.game-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  background: #0a0a0a;
  border: 2px solid white;
}

.game-canvas {
  /* border: 3px solid #667eea; */
  border: 3px solid white;
  border-radius: 2px;
  box-shadow: 0 0 30px rgba(102, 126, 234, 0.5);
}
